.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.filter-modal {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 300px;
}

.filter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}

.filter-button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  aspect-ratio: 1;
  width: 100%;
}

.filter-label {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1rem;
}
